@page "/"
@inject IStreamingService StreamingService
@inject IUserScrollingService UserScrollingService
@inject IJSRuntime JSRuntime

<div class="container-fluid text-center">
    @if (IsLoading)
    {
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else if (SelectedUser != null)
    {
        if (isUserStreaming)
        {
            if (!IsMobile)
            {
                <div class="row">
                    <div class="col-md-3">
                        <MediaDisplay Medias="@SelectedUser.Medias.Take(SelectedUser.Medias.Count / 2).ToList()" IsLivestreaming="true" />
                    </div>
                    <div class="col-md-6">
                        <Viewer StreamerId="@SelectedUser.Id" AutoJoin="true" />
                    </div>
                    <div class="col-md-3">
                        <MediaDisplay Medias="@SelectedUser.Medias.Skip(SelectedUser.Medias.Count / 2).ToList()" IsLivestreaming="true" />
                    </div>
                </div>
            }
            else
            {
                <MediaDisplay Medias="@SelectedUser.Medias" IsLivestreaming="false" />
            }
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <MediaDisplay Medias="@SelectedUser.Medias" IsLivestreaming="false" />
                </div>
            </div>
        }
    }
    else
    {
        <p>@ErrorMessage</p>
    }
</div>

@if (isUserStreaming && IsMobile)
{
    <button class="livestream-button" @onclick="ShowLivestreamModal">
        <img src="./img/LiveStreamButton.svg" />
    </button>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private InstagramUser? SelectedUser { get; set; }
    private bool isUserStreaming = false;
    public string? ErrorMessage { get; set; }

    private bool IsLoading { get; set; } = true;
    private bool IsMobile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await CheckDevice();

        UserScrollingService.OnUserChanged += OnUserChanged;
        SelectedUser = UserScrollingService.SelectedUser;
        StreamingService.OnActiveStreamsUpdated += OnActiveStreamsUpdated;
        await UpdateIsUserStreaming();

        IsLoading = false;
        StateHasChanged();
    }

    private async Task CheckDevice()
    {
        IsMobile = await JSRuntime.InvokeAsync<bool>("isMobileDevice");
    }

    private async void OnUserChanged()
    {
        SelectedUser = UserScrollingService.SelectedUser;
        await UpdateIsUserStreaming();
        StateHasChanged();
    }

    private async Task UpdateIsUserStreaming()
    {
        var activeStreams = await StreamingService.GetActiveStreamsAsync();
        isUserStreaming = SelectedUser != null && activeStreams.Contains(SelectedUser.Id);
    }

    private void OnActiveStreamsUpdated(List<string> streams)
    {
        if (SelectedUser != null)
        {
            bool wasStreaming = isUserStreaming;
            isUserStreaming = streams.Contains(SelectedUser.Id);

            if (isUserStreaming != wasStreaming)
            {
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private void ShowLivestreamModal()
    {
        if (SelectedUser == null)
            return;

        ModalOptions options = new ModalOptions()
        {
            Size = ModalSize.Large,
            HideCloseButton = true,
            HideHeader = true
        };

        var parameters = new ModalParameters();
        parameters.Add("StreamerId", SelectedUser.Id);

        Modal.Show<LivestreamModal>("Cat", parameters, options);
    }

    public void Dispose()
    {
        UserScrollingService.OnUserChanged -= OnUserChanged;
        StreamingService.OnActiveStreamsUpdated -= OnActiveStreamsUpdated;
    }
}
